
h1 {
  color: rgb(29, 41, 109);
  font-size: 100px;
  line-height: 70px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;

  &:before {
    content: '';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    left: -15px;
    opacity: 0.6;
  }

  &:after {
    content: '';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
  }


}
